body {
    /*background-color: rgb(10,250,0);*/
    width: 500px;
}
h4 {
    line-height: 32px;
    margin-bottom: 1px;
    margin-top: 30px;
}
#notes {
    max-height: 280px;
    overflow-y: scroll;
    background-color: beige;
}
#notes > div {
    margin-top: 40px;
    padding-left: 5px;
    padding-bottom: 13px;
}
#notes > div > p {
    height: 90px;
    overflow-y: hidden;
}
.expand {
    height: fit-content !important;
}
#textarea {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 8px;
    background-color: greenyellow;
    padding-left: 10px;
    padding-top: 10px;
}